<h1>Editing equipment</h1>

<%= render 'form' %>

<%= link_to 'Show', @equipment %> |

<button type="button" class="btn btn-default btn-sm">
<a href="<%= equipment_index_path %>"<span class="glyphicon glyphicon-backward"></span> Back</a> 
</button>