@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;

/* footer */

footer {
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -31px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 30px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.top30 { margin-top:30px; }
.top60 { margin-top:60px; }
.top90 { margin-top:90px; }

.well {
margin-right: 20px;}

