// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.equipment {
  table {
    border-collapse: collapse;
  }
  
  table tr td {
    padding: 5px;
    vertical-align: middle;
  }
  
  .list_image {
    width: 60px;
    height: 70px;
  }
  
  .list_description {
    width: 100%;
    
    dl {
      margin: 0;
    }
    
    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }
    
    dd {
      margin: 0;
    }
  }
  
  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }
  
  .list_line_even {
    background: #B8B8B8;
  }
  
  .list_line_odd {
    background: #E8E8E8;
  }
  
  form .collapsable-section .label {
      background: #fff;
      cursor: pointer;
      font-weight:bold;
      margin-bottom: 10px;
  }
  
  form .collapsable-section {
      margin: 15px;
  }
  
    .glyphicon-lg
  {
      font-size:4em
  }
  .info-block
  {
      border-right:5px solid #E6E6E6;margin-bottom:25px
  }
  .info-block .square-box
  {
      width:130px;min-height:63px;margin-right:22px;text-align:center!important;background-color:#676767;padding:15px 0
  }
  .info-block.block-info
  {
      border-color:#C8C8C8;
      background-color:#f7f7f7;
  }
  .info-block.block-info .square-box
  {
      background-color:#ffffff;color:#FFF
  }

}