<div id="footer">
  <div class="container">
    <footer class="footer">
      <small>
        Cubert
		<a href="http://lajek.com/">by Lajek</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
          <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</div>